default:
  user: root
  backup_server: 4.4.4.4
# possible values : UNKNOWN, FATAL, ERROR, WARN, INFO, DEBUG
log_level: ERROR
mail_from: from@from.com
rcpt_to: to@to.com
smtp_host: smtp.host.com
tasks:
    task1:
    -   ip: 1.1.1.1
        include: [1, 2, 3]
    -   ip: 2.2.2.2
        include: '*'
        exclude: [1, 3]
    task2:
    -   ip : 3.3.3.3
        include: all
        user: backup
        backup_server: 5.5.5.5